body {
    background-color: #F9E4D4;
}



h3 {
    color: #9C0F48;
}



hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 10px;
    width: 5%;
}

